* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
#border{
    height: 130%;
    padding: 30px;
    background-color: antiquewhite;
}
#nav0{
    height: 60px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#nav{
    height: 60px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav1:hover{
    text-decoration: underline;
    color: rgb(255, 136, 0);
}

#btn{
    height: 30px;
    width: 70px;
    background-color: rgb(255, 136, 0);
    color: white;
    border: none;
    border-radius: 20px;
    justify-content: flex-end;
}
#content{
    padding-top: 60px;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.same{
    height: 400px;
    width: 45%;
    padding: 10px 30px;
}

.sam{
    height: 400px;
    width: 45%;
    background-image: url(https://i.pinimg.com/1200x/1f/02/02/1f02028b85863490adb72747da691dc2.jpg);
    background-size: cover;
    border-radius: 30px;
    margin-right: 20px;
}
.same h1{
    font-size:60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1;
}
span{
    color:#ff8800 ;
}
.same p{
    margin-top:30px;
    margin-right: 200px;
    font-size: 22px;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gt{
    height: 40px;
    width: 120px;
    background-color: #ff8800;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
}

#wv{
    height: 40px;
    width: 120px;
    background-color:white;
    color: black;
    border: 1px solid rgb(80, 77, 77);
    box-shadow: 2px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 10px;
}
#wv:hover{
    background-color: #ff8800;
    color: white;
    border: none;
}

#cont{
    height: 250px;
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 40px;

}
#box{
    height: 180px;
    width: 40%;
    padding: 50px;
    text-align: center;
    background-size: cover;
    background-image: url(https://i.pinimg.com/1200x/02/c8/56/02c856ffaabef3d426cfbc219eed1544.jpg);
    border-radius: 30px;
    margin-left: 60px;
    
}
#box h1{
    color: white;
    font-size: 60px
}
#box p{
    font-size: 20px;
    color: white;
}

#bocs{
    height: 180px;
    width: 25%;
    padding-top: 40px;
    text-align: center;
    background-color: antiquewhite;
    margin: 0px 30px;
    border-radius: 30px;
}

#bocs h1{
    font-size: 70px;
    color: #ff8800;
}
#bocs p{
    font-size: 25px ;
}
#boxs{
    height: 180px;
    width: 25%;
    background-color: #ff9f32;
    border-radius: 30px;
    text-align: center;
    padding-top: 40px;
    padding: 40px 80px;
}
#boxs h1{
    color: white;
    font-size: 60px;
}
#boxs p{
    font-size: 16px;
    color: white;
}